<div class="container-fluid font vh-100">
<div class="row">
    <div class="header ">
<h1> <img src = "assets/lif2.svg" alt="Logo SVG" width="50px" color="white"/> Welcome to my Portfolio</h1>
</div>

<div class="body">
    <h3>Este es mi Portfolio personal.</h3>
    <p>
        Es mi carta de presentacion, sobre lo que se y donde ire aplicando lo que aprendo.
    </p>
    <p>
        Aqui presentare proyectos, practicas, informacion pesonal, entre otras cosas.
    </p>
    <h3>
        Puede realizar alguna de las siguientes acciones disponibles:
    </h3>
    <div class="list-group opacity-25 d-inline-flex p-2">
        <button type="button" class="list-group-item list-group-item-action" (click)="login()" *ngIf="!isLogged">Login
            <p class="text-black">Puede logearse para realizar acciones adicionales.</p>
        </button>
        <button type="button" class="list-group-item list-group-item-action" (click)="registro()" *ngIf="!isLogged" >Register
            <p class="text-black">Registrarse si no posee una cuenta.</p>
        </button>
        <button type="button" class="list-group-item list-group-item-action" (click)="home()" >Home
            <p class="text-black">Ir directamente a la pagina principal, donde se encuentra el Portfolio,</p>
        </button>
        <button type="button" class="list-group-item list-group-item-action" >CV
            <a download="CVFairLucas" href="/assets/LucasFairCV.pdf"><p class="text-black">Descargar mi CV</p></a>
        </button>
      </div>
      <br>
      <h3> Mis Redes:</h3>
      <div class="redes">
        <a href="https://www.linkedin.com/in/lucas-fair-40779026a/"
        class="btn text-white  btn-floating" style="background-color: #2b43ac; margin: 10px" role="button" >
        <i class="bi bi-linkedin" ></i></a>
        <!-- <a href=""><img src="../../../assets/twitter.png" id="twitter"></a>-->
        <a href="https://www.instagram.com/fairlucas/"
        class="btn text-white  btn-floating" style="background-color: #a305b8; margin: 10px"  role="button">
            <i class="bi bi-instagram"></i></a>
        <a href="https://github.com/LucasEsca?tab=overview&from=2023-02-01&to=2023-02-28"
         class="btn text-white  btn-floating" style="background-color: #000000; margin: 10px"  role="button">
            <i class="bi bi-github"></i></a>
        <!-- <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>-->
</div>
</div>
</div>
<app-footer></app-footer>
</div>
