<div class="row">
<h1>Experiencia Laboral</h1>
<div class="col-lg-1"></div>
<div class="col-lg-11">
    <ul>
        <li>
            <h1>Trabajo1</h1> - 
            <h3>(years)</h3>
        </li>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, animi soluta praesentium nisi voluptatem esse fugiat et mollitia pariatur odio ullam neque inventore exercitationem eum facere, perferendis vel iure placeat?
        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo2</h1> - 
            <h3>(years)</h3>
        </li>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, animi soluta praesentium nisi voluptatem esse fugiat et mollitia pariatur odio ullam neque inventore exercitationem eum facere, perferendis vel iure placeat?
        </p>
    </ul>
    <ul>
        <li>
            <h1>Trabajo3</h1> - 
            <h3>(years)</h3>
        </li>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda, animi soluta praesentium nisi voluptatem esse fugiat et mollitia pariatur odio ullam neque inventore exercitationem eum facere, perferendis vel iure placeat?
        </p>
    </ul>
</div>
</div>