<div class="row">

    <h1>Hard & Soft skills         <button class="btn btn-default btn-circle btn-lg" style="background-color: #2fac2b; margin: 5px;"  routerLink="/newskill" *ngIf="isLogged">
        <i class="bi bi-folder-plus"></i>
    </button></h1>
    
    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress 
        [percent]="(skill.porcentaje)" 
        [radius]="90" [imageSrc]="''" 
        [title]="(skill.nombre)"
        [titleColor]="'#000000'"
        [showTitle]="true" 
        [showSubtitle]="true"
        [showImage]="false"
        [showBackground]="true" 
        [imageHeight]="70" 
        [imageWidth]="70" 
        [showUnits]="true"
        [lazy]="true"
        [unitsColor] = "'#000000'" 
        [subtitleColor] = "'#000000'"
        [space] = "-10"
        [radius]="60"
        [backgroundPadding]="-10"
        [backgroundGradient]="true"
        [backgroundOpacity]="1"
        [backgroundColor]="'#5de0e6'"
        [backgroundGradientStopColor]="'#8c52ff'"
        [backgroundStroke]="'transparent'"
        [outerStrokeColor]="'#ffffff'"
        [outerStrokeGradientStopColor]="'transparent'"
        [showInnerStroke]="false"
        [clockwise]="true"
        [showInnerStroke]="false"
        [responsive]="false"
        [startFromZero]="false"
        [showZeroOuterStroke]="true"
        [outerStrokeWidth]="10" 
        [space]="4"
        [innerStrokeWidth]="0" 
        [backgroundStrokeWidth]="0"
        [innerStrokeColor]="'#000000'" 
        [animation]="true" 
        [animateTitle]="true"
        [animationDuration]="500"
        [outerStrokeGradient]="true"
        >
        
        </circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-default btn-circle btn-lg" style="background-color:#2fac2b;"  routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-default btn-circle btn-lg" style="background-color: #ac2b2b;"  (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
        
    </div>
</div>